<mat-toolbar>
  <span>Data Capture Form Preview: {{questionnaire?.title}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="https://termbrowser.nhs.uk/" target="_blank">NHS England SNOMED CT Browser</a>
    <a mat-menu-item href="https://ontoserver.csiro.au/shrimp/?concept=138875005&valueset=http%3A%2F%2Fsnomed.info%2Fsct%3Ffhir_vs&fhir=https%3A%2F%2Fontology.nhs.uk%2Fauthoring%2Ffhir" target="_blank">NHS England Ontology Server (Shrimp)</a>
  </mat-menu>
</mat-toolbar>
<mat-card>

  <mat-card-content>
      <span *ngIf="questionnaire?.description !== undefined">
        <h3>Description</h3>
        <td-markdown [content]="getDescription()"></td-markdown>
        </span>
    <td-message
      label="Information"
      sublabel="Proof of concept"
      color="primary"
      icon="information"
    ></td-message>

    <mat-tab-group (selectedTabChange)="changedTab($event)">
        <mat-tab label="Detail">
            <span *ngIf="currentTab == 0 && questionnaire !== null">
                <app-form-detail [formDefinition]="questionnaire"></app-form-detail>
            </span>
        </mat-tab>
        <mat-tab label="Preview">
             <span *ngIf="currentTab == 1 && questionnaire !== null">
                 <app-lhc-form [formDefinition]="questionnaire"></app-lhc-form>
             </span>
        </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>

