<mat-toolbar>
  <span>Data Capture Form Preview: {{questionnaire?.title}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="https://termbrowser.nhs.uk/" target="_blank">NHS England SNOMED CT Browser</a>
    <a mat-menu-item href="https://ontoserver.csiro.au/shrimp/?concept=138875005&valueset=http%3A%2F%2Fsnomed.info%2Fsct%3Ffhir_vs&fhir=https%3A%2F%2Fontology.nhs.uk%2Fauthoring%2Ffhir" target="_blank">NHS England Ontology Server (Shrimp)</a>
    <button mat-menu-item [matMenuTriggerFor]="tools">Tools</button>
    <button mat-menu-item [matMenuTriggerFor]="implementationGuide">HL7 Implementation Guides</button>
    <button mat-menu-item [matMenuTriggerFor]="informatics">Information Models</button>
  </mat-menu>
  <mat-menu #implementationGuide="matMenu">
      <a mat-menu-item target="_blank" href="https://build.fhir.org/ig/HL7/sdc/">HL7 Structured Data Capture</a>
    <a mat-menu-item target="_blank" href="https://build.fhir.org/ig/HL7/fhir-ipa/">HL7 Internation Patient Access (Query API)</a>
    <a mat-menu-item target="_blank" href="https://simplifier.net/guide/clinicalobservations">NHS England Clinical Observations</a>
    <a mat-menu-item target="_blank" href="https://build.fhir.org/ig/HL7/physical-activity/">HL7 Physical Activity (US)</a>
    <a mat-menu-item target="_blank" href="https://build.fhir.org/ig/HL7/fhir-sdoh-clinicalcare">HL7 Social Determinents of Health Clinical Care (US)</a>
  </mat-menu>
  <mat-menu #tools="matMenu">
    <a mat-menu-item target="_blank" href="https://formbuilder.nlm.nih.gov/">NLM Form Builder (US)</a>
  </mat-menu>
  <mat-menu #informatics="matMenu">
    <a mat-menu-item target="_blank" href="https://simplifier.net/guide/uk-core-implementation-guide-stu2">HL7 UK Core STU2</a>
    <a mat-menu-item target="_blank" href="https://theprsb.org/standards/">Professional Record Standards Body</a>
    <a mat-menu-item target="_blank" href="https://ckm.openehr.org/ckm/">openEHR Clinical Knowledge Manager</a>
  </mat-menu>
</mat-toolbar>
<mat-card>
  <mat-card-content>
      <span *ngIf="questionnaire?.description !== undefined">
        <h3>Description</h3>
        <td-markdown [content]="getDescription()"></td-markdown>
        </span>
    <td-message
      label="Information"
      sublabel="Proof of concept"
      color="primary"
      icon="information"
    ></td-message>

    <mat-tab-group (selectedTabChange)="changedTab($event)">
        <mat-tab label="Detail">
            <span *ngIf="currentTab == 0 && questionnaire !== null">
                <app-form-detail [formDefinition]="questionnaire"></app-form-detail>
            </span>
        </mat-tab>
        <mat-tab label="Preview">
             <span *ngIf="currentTab == 1 && questionnaire !== null">
                 <app-lhc-form [formDefinition]="questionnaire"></app-lhc-form>
             </span>
        </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>

