<td-layout class="layout-nav-demo" sidenavWidth="280px">
    <td-layout-nav
            navigationRoute="/"
    >
        <div td-toolbar-content layout-align="space-between center" flex >
            <div flex flex-order-xs="2" layout="row" layout-align="center center">
      <span>Domain Archetype: {{questionnaire?.title}}</span>
      <span class="example-spacer"></span>
        <span>
            <td-file-input mat-icon-button
                    class="file-input"
                         #fileInput
                         [(ngModel)]="file"
                         (selectFile)="selectFileEvent($event)"
                         accept=".json">
                         <mat-icon>upload_file</mat-icon>Upload
            </td-file-input>
            <button mat-stroked-button (click)="download()"><mat-icon>download</mat-icon>Save</button>
            <a mat-icon-button class="example-icon" href="https://github.com/project-wildfyre/domain-archetype" target="_blank">
                <i class="fa fa-github" style="font-size:24px"></i>
            </a>
            <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
        </span>

      <mat-menu #menu="matMenu">
          <a mat-menu-item target="_blank" href="https://formbuilder.nlm.nih.gov/">NLM Form Builder (US)</a>
          <a mat-menu-item target="_blank" href="https://project-wildfyre.github.io/formbuilder-lhcforms/">NLM Form Builder (UK Experimental)</a>
        <button mat-menu-item [matMenuTriggerFor]="tools">Terminology</button>
          <button mat-menu-item [matMenuTriggerFor]="informatics">Information Models</button>
          <button mat-menu-item [matMenuTriggerFor]="businessIG">Clinical Process Focused Implementation Guides</button>
          <button mat-menu-item [matMenuTriggerFor]="technicalIG">Technical Implementation Guides</button>
      </mat-menu>
      <mat-menu #businessIG="matMenu">
        <a mat-menu-item target="_blank" href="https://build.fhir.org/ig/HL7/physical-activity/">HL7 Physical Activity (US)</a>
        <a mat-menu-item target="_blank" href="https://build.fhir.org/ig/HL7/fhir-sdoh-clinicalcare">HL7 Social Determinents of Health Clinical Care (US)</a>
      </mat-menu>
        <mat-menu #technicalIG="matMenu">
            <a mat-menu-item target="_blank" href="https://build.fhir.org/ig/HL7/sdc/">HL7 Structured Data Capture (SDC)</a>
            <a mat-menu-item target="_blank" href="https://build.fhir.org/ig/HL7/fhir-ipa/">HL7 International Patient Access (IPA)</a>
        </mat-menu>
      <mat-menu #tools="matMenu">
          <a mat-menu-item href="https://termbrowser.nhs.uk/" target="_blank">NHS England SNOMED CT Browser</a>
          <a mat-menu-item href="https://ontoserver.csiro.au/shrimp/?concept=138875005&valueset=http%3A%2F%2Fsnomed.info%2Fsct%3Ffhir_vs&fhir=https%3A%2F%2Fontology.nhs.uk%2Fauthoring%2Ffhir" target="_blank">NHS England Ontology Server (Shrimp)</a>
      </mat-menu>
      <mat-menu #informatics="matMenu">

        <a mat-menu-item target="_blank" href="https://theprsb.org/standards/">Professional Record Standards Body (PRSB)</a>
        <a mat-menu-item target="_blank" href="https://ckm.openehr.org/ckm/">openEHR Clinical Knowledge Manager</a>
          <a mat-menu-item target="_blank" href="https://simplifier.net/guide/clinicalobservations">NHS England Clinical Observations</a>
          <a mat-menu-item target="_blank" href="https://simplifier.net/guide/uk-core-implementation-guide-stu2">HL7 UK Core (FHIR)</a>
      </mat-menu>
            </div>
        </div>
<mat-card>
  <mat-card-content>

      <div layout="row" layout-align="space-between center">
          <div>Status: <mat-chip>  {{questionnaire?.status}}</mat-chip></div>
          <div> Code:
              <app-clinical-coding *ngIf="questionnaire?.code !== undefined" [setCoding]="questionnaire?.code"></app-clinical-coding>
          </div>
          <div> Publisher: {{questionnaire?.publisher}}</div>
      </div>

      <div layout="row" layout-align="start center">
          <td-markdown *ngIf="questionnaire?.description !== undefined" [content]="String(questionnaire?.description)"></td-markdown>
      </div>

    <td-message
      label="Information"
      sublabel="Proof of concept"
      color="primary"
      icon="information"
    ></td-message>
    <span *ngIf="questionnaire !== undefined">
        <mat-tab-group (selectedTabChange)="changedTab($event)">
            <mat-tab label="Preview">
                 <span *ngIf="currentTab == 0">
                     <app-lhc-form [formDefinition]="questionnaire"></app-lhc-form>
                 </span>
            </mat-tab>
            <mat-tab label="Summary">
                <span *ngIf="currentTab == 1">
                    <app-form-detail [formDefinition]="questionnaire"></app-form-detail>
                </span>
            </mat-tab>
            <mat-tab label="FHIR Questionnaire">
                 <span *ngIf="currentTab == 2">
                     <app-questionnaire-edit [formDefinition]="questionnaire" (questionnaireChanged)="updateQuestionnaire($event)"></app-questionnaire-edit>
                 </span>
            </mat-tab>
        </mat-tab-group>
    </span>
  </mat-card-content>
</mat-card>
    </td-layout-nav>
    <td-layout-footer>
        <div layout="row" layout-align="start center">
            Contact &nbsp; <a href="mailto:kevin.mayfield@mayfield-is.co.uk">
            <i class="fa fa-envelope"></i></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/kevin-mayfield-26639716/" class="social-icon si-rounded si-small si-linkedin">
                linked <i class="fa fa-linkedin"></i></a>
        </div>
    </td-layout-footer>
</td-layout>
