<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" xmlns="http://www.w3.org/1999/html">
    <mat-expansion-panel-header>
      <mat-panel-title >

      </mat-panel-title>
      <mat-panel-description>
          <span>
              <mat-chip-set aria-label="Item Type">
                  <span *ngIf="item?.enableWhen !== undefined">
                      <mat-chip>Enable When</mat-chip>
                  </span>
              </mat-chip-set>
           </span>
        <span>
        <span *ngIf="getWarnings(item).length>0">
           <button mat-icon-button color="primary">
                <mat-icon>info</mat-icon>
           </button>
         </span>

        </span>

      </mat-panel-description>



    </mat-expansion-panel-header>



  </mat-expansion-panel>
