<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" xmlns="http://www.w3.org/1999/html">
    <mat-expansion-panel-header>
      <mat-panel-title >
        {{item?.prefix}}&nbsp;{{item?.text}}
      </mat-panel-title>
      <mat-panel-description>
          <span>
              <mat-chip-set aria-label="Item Type">
                 <!-- <span *ngIf="item?.type !== undefined && (item?.type == 'group' || !panelOpenState)"> -->
                   <mat-chip>{{ item?.type }}</mat-chip>
                  <span *ngFor="let when of item?.enableWhen">
                            Enable when {{getQuestion(when.question)}}&nbsp;{{when.operator}}&nbsp;{{when.answerBoolean}}
                            <br/>
                        </span>
                   <span *ngIf="item?.required !== undefined && item?.required">
                          <mat-chip style="background-color: #feebeb">Required</mat-chip>
                  </span>
                  <span *ngIf="item?.repeats !== undefined && item?.repeats">
                          <mat-chip>Repeats</mat-chip>
                  </span>
              </mat-chip-set>
           </span>
        <span></span>

      </mat-panel-description>

            <span *ngIf="hasAnswerType(item) || item?.initial !== undefined">
              {{getAnswer(item)}}
            </span>
            <span *ngIf="item?.readOnly">
                            <mat-chip>read only</mat-chip>
                        </span>
          <span *ngIf="item?.maxLength != undefined">
                            <mat-chip>max length = {{item?.maxLength}}</mat-chip>
                        </span>
          <span *ngIf="getUnits(item) !== ''">
              &nbsp;
              Units: <mat-chip>{{getUnits(item)}}</mat-chip>
          </span>
    </mat-expansion-panel-header>

    <table style="width: 100%">

    <tr *ngIf="item?.code !== undefined">
        <td>Question Coding</td>
        <td>
        <li *ngFor="let code of item?.code">
           <a *ngIf="code.system == 'http://snomed.info/sct'" target="_blank" [href]="'http://snomed.info/id/'+getCoded(item)">SNOMED CT {{ getCoded(item) }} </a>
           <a *ngIf="code.system == 'http://loinc.org'" target="_blank" [href]="'https://loinc.org/'+getCoded(item)">LOINC {{ getCoded(item) }} </a>
        </li>
        </td>
      </tr>
      <tr>
        <td>link Id</td>
        <td>{{item?.linkId}}</td>
      </tr>


    <tr *ngIf="item?.definition !== undefined">
      <td>Data Extraction - HL7 FHIR Resource Mapping</td>
      <td>
        <pre>{{getFHIR(item)}}</pre>
      </td>
    </tr>
    <tr *ngIf="item?.definition !== undefined &&item?.code !== undefined ">
      <td>Data Extraction - HL7 v2 Segment Mapping (2.5.1)</td>
      <td>
        OBX-2 - Value Type <br/><br/>
        <pre>{{getHL7v2OBX2(item)}}</pre>
        OBX-3 - Observation Identifier<br/><br/>
        <pre>{{getHL7v2OBX3(item)}}</pre>

          OBX-5 - Observation Identifier (and OBX.6 - Units)<br/><br/>
          <pre>{{getHL7v2OBX5(item)}}</pre>

      </td>
    </tr>
  </table>

  </mat-expansion-panel>
