<h2 mat-dialog-title>Code</h2>
<mat-dialog-content>
    <table class="mat-elevation-z8">

        <tr *ngIf="item?.definition !== undefined || item?.code !== undefined">
            <td>Data Extraction - HL7 FHIR Resource Mapping</td>
            <td>
                <pre>{{getFHIR()}}</pre>
            </td>
        </tr>
        <tr *ngIf="item?.definition !== undefined || item?.code !== undefined ">
            <td>Data Extraction - HL7 v2 Segment Mapping (2.5.1)</td>
            <td>
                OBX-2 - Value Type <br/><br/>
                <pre>{{getHL7v2OBX2()}}</pre>
                OBX-3 - Observation Identifier<br/><br/>
                <pre>{{getHL7v2OBX3()}}</pre>

                OBX-5 - Observation Identifier (and OBX.6 - Units)<br/><br/>
                <pre>{{getHL7v2OBX5()}}</pre>

            </td>
        </tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>
