<h2 mat-dialog-title>Example HL7 Mapping</h2>
<mat-dialog-content>
    <table class="mat-elevation-z8">

        <tr *ngIf="item?.definition !== undefined || item?.code !== undefined">
            <td>HL7 FHIR</td>
            <td>
                <pre>{{getFHIR()}}</pre>
            </td>
        </tr>
        <tr *ngIf="item?.definition !== undefined || item?.code !== undefined ">
            <td>HL7 v2 Segment<br/>(2.5.1)</td>
            <td>
                <table>
                    <tr>
                        <td>OBX-2 - Value Type</td>
                        <td>{{getHL7v2OBX2()}}</td>
                    </tr>
                    <tr>
                        <td>OBX-3 - Observation Identifier</td>
                        <td>{{getHL7v2OBX3()}}</td>
                    </tr>
                    <tr>
                        <td>OBX-5 - Observation Identifier <br/>(and OBX.6 - Units)</td>
                        <td>{{getHL7v2OBX5()}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>
